.header__cart-number {
  position: absolute;
  top: -35%;
  right: -35%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.3;
}
