.newsletter {
  position: relative;
  z-index: 0;
  min-height: 260px;
  background: url(.././../images/newsletter_back.webp) no-repeat center / cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 130px;
}

.newsletter::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(10, 34, 61, 0.8);
  z-index: -1;
}
