.footer__text_type_address {
  padding-left: 44px;
  position: relative;
}

.footer__text_type_address::before {
  content: '';
  background: url(../../../../images/footer__place_icon.svg) no-repeat center / cover;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}
