.header__info-link_type_gift-card {
  justify-self: start;
}

.header__info-link_type_gift-card::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url(../../../../images/header__gift_card.svg) no-repeat center / cover;
  margin-right: 10px;
}

@media (min-width: 1100px) {
  .header__info-link_type_gift-card::before {
    margin-right: 20px;
  }
}

