.header__account {
  display: flex;
  align-items: center;
  column-gap: 24px;
  grid-column: 1;
  grid-row: 3;
  justify-self: start;
}

@media (min-width: 1100px) {
  .header__account {
    grid-area: unset;
  }
}
