.header__info-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
}

.header__info-link:hover {
  color: var(--accent-hover-color);
}
