@import url(../vendor/normalize.css);
@import url(../root/root.css);

@import url(../blocks/page/page.css);
@import url(../blocks/content-wrapper/content-wrapper.css);

@import url(../blocks/search/search.css);
@import url(../blocks/search/__box/search__box.css);
@import url(../blocks/search/__button/search__button.css);

/* Мелоч */
@import url(../blocks/logo-small/logo-small.css);
@import url(../blocks/logo-big/logo-big.css);
@import url(../blocks/currency/currency.css);
@import url(../blocks/stars-box/stars-box.css);
@import url(../blocks/stars-box/__star/stars-box__star.css);
@import url(../blocks/btn/btn.css);
@import url(../blocks/title/title.css);
@import url(../blocks/subtitle/subtitle.css);
@import url(../blocks/guests/guests.css);
@import url(../blocks/room/room.css);
@import url(../blocks/price/price.css);
@import url(../blocks/old-price/old-price.css);
@import url(../blocks/address/address.css);
@import url(../blocks/visibility-hidden/visibility-hidden.css);
/* Конец мелочей */

@import url(../blocks/message-form/message-form.css);
@import url(../blocks/message-form/__title/message-form__title.css);
@import url(../blocks/message-form/__input/message-form__input.css);
@import url(../blocks/message-form/__input/_message-area/message-form__input_message-area.css);
@import url(../blocks/message-form/__btn/message-form__btn.css);
@import url(../blocks/message-form/__hint/message-form__hint.css);

@import url(../blocks/header/__info/header__info.css);
@import url(../blocks/header/__info-link/header__info-link.css);
@import url(../blocks/header/__info-link/_type/header__info-link_type_gift-card.css);
@import url(../blocks/header/__info-link/_type/header__info-link_type_loyality.css);
@import url(../blocks/header/__phone/header__phone.css);
@import url(../blocks/header/__phone/_accent/header__phone_accent.css);
@import url(../blocks/header/__info-box/header__info-box.css);
@import url(../blocks/header/__content/header__content.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__cart/header__cart.css);
@import url(../blocks/header/__cart-img/header__cart-img.css);
@import url(../blocks/header/__cart-number/header__cart-number.css);
@import url(../blocks/header/__account/header__account.css);
@import url(../blocks/header/__account-link/header__account-link.css);
@import url(../blocks/header/__account-avatar/header__account-avatar.css);
@import url(../blocks/header/__account-button/header__account-button.css);
@import url(../blocks/header/__search/header__search.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);

@import url(../blocks/navigation/navigation.css);
@import url(../blocks/navigation/__list/navigation__list.css);
@import url(../blocks/navigation/__item/navigation__item.css);
@import url(../blocks/navigation/__link/navigation__link.css);

@import url(../blocks/hotel/hotel.css);
@import url(../blocks/hotel/__name/hotel__name.css);
@import url(../blocks/hotel/__name/_type/hotel__name_type_flash-offer.css);
@import url(../blocks/hotel/__description/hotel__description.css);
@import url(../blocks/hotel/__rating/hotel__rating.css);
@import url(../blocks/hotel/__rating-number/hotel__rating-number.css);
@import url(../blocks/hotel/__name-grid/hotel__name-grid.css);
@import url(../blocks/hotel/__info/hotel__info.css);
@import url(../blocks/hotel/__price/hotel__price.css);
@import url(../blocks/hotel/__apartment-info/hotel__apartment-info.css);
@import url(../blocks/hotel/__apartment-info/_type/hotel__apartment-info_type_guest.css);
@import url(../blocks/hotel/__apartment-info/_type/hotel__apartment-info_type_room.css);
@import url(../blocks/hotel/__apartment-info-icon/hotel__apartment-info-icon.css);
@import url(../blocks/hotel/__apartment-info-icon/__type/hotel__apartment-info-icon_type_guest.css);
@import url(../blocks/hotel/__apartment-info-icon/__type/hotel__apartment-info-icon_type_room.css);
@import url(../blocks/hotel/__appartment-info-box/hotel.__appartment-info-box.css);
@import url(../blocks/hotel/__info-grid/hotel__info-grid.css);
@import url(../blocks/hotel/__slider/hotel__slider.css);
@import url(../blocks/hotel/__slider-btn/hotel__slider-btn.css);
@import url(../blocks/hotel/__slider-btn/_direction/hotel__slider-btn_direction_left.css);
@import url(../blocks/hotel/__slider-btn/_direction/hotel__slider-btn_direction_right.css);
@import url(../blocks/hotel/__photo/hotel__photo.css);
@import url(../blocks/hotel/__booking-text/hotel__booking-text.css);
@import url(../blocks/hotel/__booking-tel/hotel__booking-tel.css);
@import url(../blocks/hotel/__options-btn/hotel__options-btn.css);
@import url(../blocks/hotel/__map/hotel__map.css);

@import url(../blocks/summary/summary.css);
@import url(../blocks/summary/__links/summary__links.css);
@import url(../blocks/summary/__link/summary__link.css);
@import url(../blocks/summary/__title/summary__title.css);
@import url(../blocks/summary/__table/summary__table.css);
@import url(../blocks/summary/__table-title-box/summary__table-title-box.css);
@import url(../blocks/summary/__table-title/summary__table-title.css);
@import url(../blocks/summary/__table-package/summary__table-package.css);
@import url(../blocks/summary/__checked-text/summary__checked-text.css);
@import url(../blocks/summary/__grid/summary__grid.css);
@import url(../blocks/summary/__offer-end/summary__offer-end.css);
@import url(../blocks/summary/__dates/summary__dates.css);
@import url(../blocks/summary/__table-offer/summary__table-offer.css);
@import url(../blocks/summary/__offer/summary__offer.css);
@import url(../blocks/summary/__offer-text/summary__offer-text.css);
@import url(../blocks/summary/__table/_size/summary__table_size_big.css);
@import url(../blocks/summary/__table-details/summary__table-details.css);
@import url(../blocks/summary/__dotted-bottom/summary__dotted-bottom.css);
@import url(../blocks/summary/__details-header/summary__details-header.css);
@import url(../blocks/summary/__details-list/summary__details-list.css);

@import url(../blocks/packages/packages.css);
@import url(../blocks/packages/__title/packages__title.css);
@import url(../blocks/packages/__list/packages__list.css);

@import url(../blocks/package/package.css);
@import url(../blocks/package/__btn/package__btn.css);
@import url(../blocks/package/_size/package_size_small.css);
@import url(../blocks/package/_size/package_size_big.css);
@import url(../blocks/package/__photo/_size/package__photo_size_small.css);
@import url(../blocks/package/__photo/_size/package__photo_size_big.css);
@import url(../blocks/package/__title/package__title.css);
@import url(../blocks/package/__info/package__info.css);
@import url(../blocks/package/__price/package__price.css);
@import url(../blocks/package/__text/package__text.css);
@import url(../blocks/package/_type/package_type_flash-offer.css);
@import url(../blocks/package/_type/package_type_flash-offer-big.css);

@import url(../blocks/feedback/feedback.css);
@import url(../blocks/feedback/__title/feedback__title.css);
@import url(../blocks/feedback/__slider/feedback__slider.css);
@import url(../blocks/feedback/__slider-btn/feedback__slider-btn.css);
@import url(../blocks/feedback/__slider-btn/_direction/feedback__slider-btn_direction_left.css);
@import url(../blocks/feedback/__slider-btn/_direction/feedback__slider-btn_direction_right.css);
@import url(../blocks/feedback/__photo/feedback__photo.css);
@import url(../blocks/feedback/__slide/feedback__slide.css);
@import url(../blocks/feedback/__name/feedback__name.css);
@import url(../blocks/feedback/__date/feedback__date.css);
@import url(../blocks/feedback/__stars-box/feedback__stars-box.css);
@import url(../blocks/feedback/__text/feedback__text.css);

@import url(../blocks/newsletter/newsletter.css);
@import url(../blocks/newsletter/__title/newsletter__title.css);
@import url(../blocks/newsletter/__title-accent/newsletter__title-accent.css);
@import url(../blocks/newsletter/__subscribe-form/newsletter__subscribe-form.css);
@import url(../blocks/newsletter/__subscribe-input/newsletter__subscribe-input.css);
@import url(../blocks/newsletter/__button/newsletter__button.css);

@import url(../blocks/activities/activities.css);
@import url(../blocks/activities/__title/activities__title.css);
@import url(../blocks/activities/__cards/activities__cards.css);
@import url(../blocks/activities/__card/activities__card.css);
@import url(../blocks/activities/__img/activities__img.css);
@import url(../blocks/activities/__name/activities__name.css);
@import url(../blocks/activities/__btn/activities__btn.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__links/_box/footer__links_box_two-rows.css);
@import url(../blocks/footer/__links/_justify/footer__links_justify_right.css);
@import url(../blocks/footer/__col-name/footer__col-name.css);
@import url(../blocks/footer/__col-name/_direction/footer__col-name_direction_row.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__text/_type/footer__text_type_tel.css);
@import url(../blocks/footer/__text/_type/footer__text_type_address.css);
@import url(../blocks/footer/__text/_type/footer__text_type_email.css);
@import url(../blocks/footer/__contact-details/footer__contact-details.css);
@import url(../blocks/footer/__social-box/footer__social-box.css);
@import url(../blocks/footer/__social-link/footer__social-link.css);
@import url(../blocks/footer/__social-link/_site/footer__social-link_site_facebook.css);
@import url(../blocks/footer/__social-link/_site/footer__social-link_site_instagram.css);
@import url(../blocks/footer/__social-link/_site/footer__social-link_site_youtube.css);
@import url(../blocks/footer/__message-form/footer__message-form.css);
@import url(../blocks/footer/__additional-links/footer__additional-links.css);
@import url(../blocks/footer/__additional-link/footer__additional-link.css);
@import url(../blocks/footer/__payments/footer__payments.css);
@import url(../blocks/footer/__grid/footer__grid.css);
