.room {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
}

.room::before {
  content: '';
  width: 12px;
  height: 14px;
  background-image: url(../../images/hotel__icon_house.svg);
  background-size: 12px 14px;
  margin-right: 15px;
}

.room::after {
  content: ' × Room';
}
