.room {
  display: flex;
  align-items: center;
}

.room::before {
  content: '';
  width: 12px;
  height: 14px;
  background-image: url(../../../../images/hotel__icon_house.svg);
  background-size: 12px 14px;
  margin-right: 15px;
}

.room::after {
  content: ' × Room';
}
